// Results (sin cambios - original)
.results {
   padding: 4rem 0;
   background-color: $color-blue;
    &__secondary{
      background-color: $color-white;
      color: #000!important;
    }
   &__stats {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     gap: 2rem;
     margin-top: 2rem;
   }
 
 
 }

