.stat {
  text-align: center;
  color: $color-light-blue;
  &__number {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    
  }

  &__description {
  }
  &__detail {
    font-size: 0.9rem;
    color: #666;
    max-width: 250px;
    margin: 0 auto;
  }

  &__alternative--color{
    color: $color-text;
  }
}
// results__secondary