// Variables actualizadas
$color-primary: #0f2415;
$color-secondary: #f0fff4;
$color-tertiary: #ddd;
$color-highlight: #0f2415;
$color-title: #f0fff4;
$color-bg-dark:#0b2844; //#0f2415;
$color-text: #000;
$color-white: #ffffff;
$color-blue: #1e90ff;
$color-light-blue: #e6f3ff;

// Variables adicionales
$nav-height: 80px; // Altura fija para la navegación
$hero-padding: 6rem; // Padding más generoso para el hero
$transition-speed: 0.3s; // Para animaciones consistentes
